.main_top{height: 50px}
ul li{list-style: none;}
a:hover{text-decoration:underline;}
a:link,a:visited{text-decoration:none; color: black;}
.main_top_img img{width: 176px;height: 60px;float: left;}

.top_img_list li {; width: 80px;font-size: 16px;color: #333333;letter-spacing: 0;text-align: center;line-height: 24px;float:left;margin-left:15px;font-family: PingFangSC-Medium;}
.jiantou_1{position: absolute;top: 50% }
.jiantou_2{position: absolute;top: 50%;right: 0% }
.our_yewu{height: 38px;font-family: PingFangSC-Light;font-size: 32px;color: #000000;letter-spacing: 4px;text-align: center;line-height: 38px;margin:auto;margin-top: 80px;margin-bottom: 80px}
.our_about{height: 700px;;top:-150px; position: relative;}
.our_about_text{width: 860px;height: 562px;position: relative;left:2%;}
.our_about_text_kuang{width: 540px;;position: relative;top: 20%;left: 2%;}
.our_about_text_h3{font-family: PingFangSC-Light;font-size: 32px;color: #FFFFFF;letter-spacing: 4px;line-height: 40px;}
.our_about_text_p{font-family: PingFangSC-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: 0;line-height: 24px;}
.more span{left: 15px;top:380px;position:absolute;font-family: PingFangSC-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: 4px;text-align: center;line-height: 24px;border-radius: 4px;}
.our_about_img img{height:373px ;width:530px;position: absolute;top: -450px;left: 130%}
.more1 span{left: 15px;position:absolute;font-family: PingFangSC-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: 4px;text-align: center;line-height: 24px;border-radius: 4px;}
.our_about_text1_h3{font-family: PingFangSC-Light;font-size: 32px;color: #FFFFFF;letter-spacing: 4px;line-height: 60px;}
.our_about_text1_p{font-family: PingFangSC-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: 0;line-height: 20px;}
.our_shebei{height: 38px;font-family: PingFangSC-Light;font-size: 32px;color: #000000;letter-spacing: 4px;text-align: center;line-height: 38px;margin:auto;margin-top: 80px;margin-bottom: 80px}
.our_shebei img{width: 140px;height: 120px;opacity: 0.8;position: absolute;right: 5%;top: 55%;}
.CompanyNews_one img{height: 240px;width: 360px}
.CompanyNews_one_text h3{font-family: PingFangSC-Semibold;font-size: 24px;color: #000000;letter-spacing: 0;line-height: 32px;}
.CompanyNews_one_text h4{font-family: PingFangSC-Regular;font-size: 20px;color: #666666;letter-spacing: 0;line-height: 24px;}
.CompanyNews_one{margin:20px 0px;}
.cleardiv{clear: both}
.waikuang{padding-right:0px;padding-left:0px;}
.liucheng_img_dan span{font-family: PingFangSC-Semibold;font-size: 24px;color: #fff;letter-spacing: 0.36px;}
.liuc{position: absolute;top:30%;padding-right:0px;padding-left:0px;left:0px;}
.liucheng_img_dan_1{margin-left: 8%;max-width: 10%}
.footer_waikuang{background: #323639;height: 300px;}
.call_me_text_img img{height:253px ;width: 488px;float: right;margin-top: 30px;}
.call_me_text p{font-family: PingFangSC-Regular;font-size: 14px;color: #FFFFFF;text-align: left;line-height: 22px;}
.call_me_text h2{font-family: PingFangSC-Regular;font-size: 24px;color: #FFFFFF;letter-spacing: 0.5px;line-height: 32px;}
.call_me_text a{color: #fff}
.tupian6_background1{opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background2{opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background3{opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background4{opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background5{opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background6{opacity: 0.4;background: #0E8BE5;float: left;}
.tupianlunbo{left: 0px; margin:0;position: relative;}
.tupianlunbo_div{position: relative;}
.tupian6_background{position: absolute;top:0%;}




