*{margin:0;padding: 0;border: 0}
@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('../fonts/PingFangMedium.ttf');
}


ul li{list-style: none;}
a:hover{text-decoration:underline;}
a:link,a:visited{text-decoration:none; color: black;}
.main{width: 1440px;height: 80px;margin:auto;}
.top_img_list img{width: 176px;height: 60px;float: left;margin-top: 10px;}
.top_img_list ul {;float:right;}
.top_img_list li {; width: 80px;font-size: 16px;color: #333333;letter-spacing: 0;text-align: center;line-height: 24px;float:left;margin:25px;font-family: PingFangSC-Medium;}
.cleardiv{clear: both;}
.test{height: 500px;width: 500px;;}
.lunbotu{width: 1440px;height: 720px;;}
.yewu_waikuang{height: 550px;}
.sp_waikuang{;}
.our_yewu{;width: 180px;height: 38px;font-family: PingFangSC-Light;font-size: 32px;color: #000000;letter-spacing: 4px;text-align: center;line-height: 38px;margin:auto;margin-top:100px}
.list_one{width: 240px;;float: left;margin-left: 6%;}
.list_one img{width: 240px;height: 200px;}
.list_one p{font-family: PingFangSC-Medium;font-size: 24px;color: #333333;letter-spacing: 0;text-align: center;}
.list_one h3{font-family: PingFangSC-Regular;font-size: 16px;color: #333333;letter-spacing: 0;text-align: center;}
.tupian6_background{position: relative;top: -200px;}

.CompanyNews_waikuang{position: relative;top: -150px;}

.tupianlunbo img{width:240px ;height: 200px;float: left;}

.tupian6_background1{width: 240px;height: 200px;opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background2{width: 240px;height: 200px;opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background3{width: 240px;height: 200px;opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background4{width: 240px;height: 200px;opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background5{width: 240px;height: 200px;opacity: 0.4;background: #0E8BE5;float: left;}
.tupian6_background6{width: 240px;height: 200px;opacity: 0.4;background: #0E8BE5;float: left;}

.our_about{height: 700px;;top:-150px; position: relative;}
.our_about_text{width: 860px;height: 562px;;background: #0E8BE5;position: relative;top: 11%;left: 5%;}
.our_about_text_kuang{width: 540px;;position: relative;top: 20%;left: 6%;}
.our_about_text_h3{font-family: PingFangSC-Light;font-size: 32px;color: #FFFFFF;letter-spacing: 4px;line-height: 40px;}
.our_about_text_p{font-family: PingFangSC-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: 0;line-height: 24px;}
.more span{font-family: PingFangSC-Regular;font-size: 16px;color: #FFFFFF;letter-spacing: 4px;text-align: center;line-height: 24px;border: 1px solid #FFFFFF;border-radius: 4px;}
.our_about_img img{height:373px ;width:560px;position: relative;top: -400px;left: 750px;}
.CompanyNews_text h3{nt-family: PingFangSC-Light;font-size: 32px;color: #000000;letter-spacing: 4px;text-align: center;line-height: 80px;}
.CompanyNews_text img{width: 140px;height: 120px;opacity: 0.8;position: relative;left: 85%}
.CompanyNews_one{height: 245px;}
.CompanyNews_one img{height: 240px;;width: 360px;float: left;}
.CompanyNews_one_text{width: 900px;float: left;margin-top:50px;margin-left:20px;}
.CompanyNews_one_text h3{font-family: PingFangSC-Semibold;font-size: 24px;color: #000000;letter-spacing: 0;line-height: 32px;}
.CompanyNews_one_text h4{font-family: PingFangSC-Regular;font-size: 20px;color: #666666;letter-spacing: 0;line-height: 24px;}
.CompanyNews_one{margin:20px 0px;}
.liucheng_waikuang{background: #0E8BE5;height: 500px;position: relative;top: -150px;}
.liucheng_waikuang p{font-family: PingFangSC-Light;font-size: 32px;color: #000000;letter-spacing: 4px;text-align: center;line-height: 238px;}
.liucheng_img{; height: 200px}
.liucheng_img_dan{; height: 200px;width: 200px;text-align: center;float: left;margin-left:68px ;}
.liucheng_img_dan img{; height: 120px;width: 120px;margin:0px 8px;}
.liucheng_img_dan span{font-family: PingFangSC-Semibold;font-size: 24px;color: #fff;letter-spacing: 0.36px;position:relative;top:10px; left:-25px;}
.footer_waikuang{background: #323639;height: 300px;position: relative;top: -150px;}
.call_me_text_img img{height:253px ;width: 488px;float: right;margin-top: 40px;margin-right: 100px}
.call_me_text{;float: left;margin-top: 80px;margin-left: 80px}
.call_me_text p{font-family: PingFangSC-Regular;font-size: 14px;color: #FFFFFF;text-align: left;line-height: 22px;}
.call_me_text h2{font-family: PingFangSC-Regular;font-size: 24px;color: #FFFFFF;letter-spacing: 0.5px;line-height: 32px;}
.call_me_text a{color: #fff}
.lunbotu img{height: 720px;width:1440px}
.jiantou{width:1440px;; position: relative;top: -400px;z-index: 0}
.jiantou img{width:80px ;height:80px ;}


